/*
  background-image: url("img_tree.gif"), url("paper.gif");
  background-color: #cccccc;
*/
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin:0;                   /* Removes default browser spacing */
    color: #ffffff;              /* Text Color */
    padding: 20px;
}
.main_content {
  background-color: #393939;
  width:600px;
  margin:auto;
}

h1 {
    color: #ffffff;            
    font-size: 2.5rem;           /* Sets font size relative to root size */
    border-bottom: 2px solid #ff00c8; /* Solid line under the heading */
    padding: 20px;
    padding-bottom: 10px;        /* Spacing above the underline */
}
h2 {
    color: #ffffff;            
    font-size: 1.5rem;           /* Sets font size relative to root size */
    padding: 20px;
    padding-bottom: 10px;        /* Spacing above the underline */
}
p {

  padding: 20px;
}

iframe {
  width : 560px; 
  height : 315px;
  margin : auto;
  padding: 20px;
}
