body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin:0;                   /* Removes default browser spacing */
    color: #ffffff;           
    padding: 20px;
    /*background-image: url("")*/
}
.main_content {
  background-color: #393939;
  width:600px;
  margin:auto;
}
.sub_content {
  border-radius: 4px;
  background-color: #242323;
  padding: 10px;
}
.sub_sub_content {
  display: grid;
  place-items: center;
  padding: 10px
}
.captioned_content {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 5px;
  font-size: 0.8rem;
}
.top_bar {
  display: flex;
  justify-content: center; /* Links fill the bar, pushing to the far left and right */
  list-style: none;
  padding: 20px;
  gap: 20px;
}
.bar_elem {
  background-color: #393939;
  border-radius: 2px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.bar_elem:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 10px 20px rgba(255, 0, 170, 0.447);
  background-color: #ff00c8;
}

.elem_link {
   color: #ffffff;
   text-decoration: none;
}
.standalone_link {
  color: #000000;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 30px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.standalone_link:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 10px 20px rgba(255, 0, 170, 0.447);
  background-color: #ff00c8;
}
.discrete_list  {
  list-style: none;
  justify-content: center;
  padding: 10px;
}

h1 {
    color: #ffffff;            
    font-size: 2.5rem;           /* Sets font size relative to root size */
    border-bottom: 2px solid #ff00c8; /* Solid line under the heading */
    padding: 20px;
    padding-bottom: 10px;        /* Spacing above the underline */
}
h2 {
    color: #ffffff;            
    font-size: 1.5rem;           /* Sets font size relative to root size */
    padding: 20px;
}
.responsive_h2 {
  transition: color 0.3s ease;
}
.responsive_h2:hover {
  color: #ff00c8;
}
p {
  padding: 20px;
}
.common_paragrah {
  text-indent: 30px;
  border-radius: 4px;
  background-color: #393939;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.common_paragrah:hover {
  transform: translateY(-3px) scale(1.02);
}

iframe {
  border : 2px solid #ff00c8
}

res_iframe {
  display: flex;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
